.btn {
    align-items: center;
    display:flex;
    justify-content: space-between;
    margin-top:1.5rem;
}

.btnEnviar,.btnLimpar ,.btnNovaEditora {
    background-color: rgba(255, 206, 0, 1);;
    border:transparent;
    border-radius: 5px 5px;
    color: #000;
    cursor: pointer;
    height: 50px;
    font-size: 21px;
    font-weight: bold;
    font-family: 'Gruppo', sans-serif;
    text-align: center;
    transition: 0.7s;
    width: 150px;
}

.btnEnviar:hover {
    background-color:  #008000;
    color: #FFF;
}

.btnLimpar {
    background-color: #FFF;
    color: #000;
}

.btnLimpar:hover {
    background-color: #FF0000;
    color:#000;
}

.btnNovaEditora {
    background-color: #000;
    border: 3px solid #FFF;
    color: #FFF;
    width:180px;
}

.btnNovaEditora:hover {
    background-color: #000;
    color: rgba(255, 206, 0, 1);
    border: 3px solid rgba(255, 206, 0, 1);
}